<nav class="navbar navbar-inverse navbar-fixed-top navbar-embossed" role="navigation">
  <div class="container">
      <a class="navbar-brand " href="<%= root_path %>">PolicyGenius</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li>
              <%= link_to "View Life Insurance Form", edit_user_path(current_user) %>
            </li>
            <li>
              <%= link_to "Logout", logout_path, method: :delete%>
            </li>
        <% else %>
            <li>
              <%= link_to "Login", login_path %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_path %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>